<!DOCTYPE html >
<html >
<head >
<style >

body{
    background-color:gold;
}

h1 {
    color: blue;
    font-family: 'Comic Sans MS';
    font-size: 300%;
    text-align: center
}

h2{
    color:forestgreen;
    font-family:'Comic Sans MS';
    font-size: 160%;
}

p {
    color: red;
    font-family: 'Comic Sans MS';
    font-size: 160%;
}

</style >
</head >
<body >

<h1 > This is a heading</h1 >
<p > This is a paragraph.</p >

</body >
</html >
